*,
html {
  margin: 0;
  /* font-family: HankenGrotesk; */
  box-sizing: border-box;
  font-family: Oswald, sans-serif;
  font-weight: 400;
}

a {
  /* text-decoration: none; */
  color: inherit;
}

a:hover,
a:active {
  color: rgb(137, 11, 32);
}

/*colors*/
/*background-color: blanchedalmond; background/med pic color*/
/* background-color: lightblue; */
/* background-color: rgb(137, 11, 32); */
/* grey background: #c8c8c8f0; */
/*
separator #989c8d
*/

/*fonts*/
/* Rajdhani for navbar*/
/* font-family: HankenGrotesk; */
/* font-family: Oswald, sans-serif; */

.hamburger * {
  font-family: "Rajdhani", sans-serif;
  /* font-size: 1.5rem; */
  letter-spacing: 0.2rem;
  font-weight: 100;
}

.red-twist {
  color: rgba(234, 65, 144, 0.4);
  font-weight: bold;
  /* margin-left: 0.5em; */
}

.three-line-menu,
.close-menu {
  width: 30px;
  /* filter: invert(99%) sepia(92%) saturate(0%) hue-rotate(323deg) brightness(114%) contrast(100%); */
}

header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  /* top: 0;
   right: 10px;
  left: 0; */
  height: 50px;
  padding: 0 2em;
  width: 100%;
}

.nav-title {
  font-size: 1.5rem;
}

.hamburger {
  cursor: pointer;
}

.close-menu {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-110%);
  transition: transform 0.2s;
  top: 17px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c8c8c8f0;
  color: rgb(174, 16, 16);
  list-style: none;
  padding: 0 4em 0;
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 1em;
}
.show-menu {
  transform: translateY(0);
  margin: 2em 0.5em;
}

.primo-piano-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.primo-piano h2 {
  text-align: center;
}

.primo-piano-event {
  background-color: beige;
  padding: 0.5em;
  width: 70%;
}

/*home section */

.home {
  height: 100vh;
  /* background-color: lightblue; */
  background-image: url("/assets/images/lotusBG.webp");
  background-repeat: no-repeat;
  background-position: bottom right -50px;
  background-size: cover;
  /* filter: hue-rotate(60deg); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-quote {
  /* flex-grow: 1; */
  margin-top: 10em;
}

.container-quote p {
  color: rgb(137, 11, 32);
  color: white;
  /* font-family: "Indie Flower", cursive; */
  font-size: 1.25rem;
  font-weight: lighter;
  letter-spacing: 1px;
}

.home a {
  display: block;
  margin: 0 auto;
  text-align: center;
  /* margin-top: auto; */
}

.arrow-down {
  width: 10%;
  filter: invert(100%) sepia(7%) saturate(1%) hue-rotate(152deg)
    brightness(106%) contrast(101%);
}

/*class section */

.classi,
.articoli {
  /* height: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.classe,
.articolo {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  padding: 0 2.5em 1em;
}

.contatti {
  padding: 0 1em;
}

.classe-img,
.articolo-img,
.full-articolo-img {
  /* display: block; */
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  object-position: 50% 80%;
  align-self: center;
}

.classi-separator {
  max-width: 200px;
  filter: invert(69%) sepia(1%) saturate(3151%) hue-rotate(33deg)
    brightness(94%) contrast(69%);
  /* filter: invert(50%) sepia(88%) saturate(1389%) hue-rotate(157deg)
    brightness(90%) contrast(96%); */
  margin: -2em 0 -1.5em;
}

.lotus-separator {
  width: 40px;
  filter: invert(69%) sepia(1%) saturate(3151%) hue-rotate(33deg)
    brightness(94%) contrast(69%);
  padding-bottom: 1em;
}

.classi h2 {
  padding-top: 1em;
  color: rgb(39, 17, 17);
  /* font-size: 1.5rem; */
}

.classi h3,
.articoli h3 {
  padding-top: 1em;
}

/*articles and classes */
.articolo-info a,
.classe-info a {
  display: block;
  margin-top: 0.5em;
}

.classi h4,
.classi p,
.articoli h4,
.articoli p {
  font-family: lora;
  margin-top: 0.5em;
}

.yoga-nrg-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 10%;
}

.yoga-med-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 80%;
}

.yoga-moon-img {
  margin-top: 2em;
}

/*footer*/

footer {
  background-color: #989c8d;
  color: white;
}

footer * {
  text-align: center;
}

.contatti {
  padding-bottom: 1em;
}
.outro {
  border-top: 1px solid rgb(205, 211, 190);
  padding-top: 0.5em;
}

.certificates-logo img {
  width: 50px;
  padding-top: 1em;
}

.footer-separator {
  width: 50%;
  filter: invert(98%) sepia(46%) saturate(0%) hue-rotate(180deg)
    brightness(108%) contrast(100%);
  /* margin: -2em 0 -1.5em; */
}

.container-quote2 p {
  margin-bottom: 1em;
}

.year h6 {
  padding-bottom: 1em;
}

/*other pages */

.full-article-container {
  padding: 0 2.5em 1em;
}

.full-article-container h3 {
  margin-top: 1em;
}

.full-article-container p,
.full-article-container h4,
.full-article-container ul li {
  font-weight: lighter;
  list-style-type: "- ";
}

.full-article-container p,
.full-article-container ul li {
  margin: 1em 0;
  letter-spacing: 1px;
  text-align: justify;
}

.full-article-container ul {
  padding-left: 1em;
}

.skier {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 40%;
}

.full-article-paragraph-container {
  display: flex;
  flex-direction: column;
}

.full-article-img {
  margin-top: 80px;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.med-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 40%;
  align-self: center;
}

@media (min-width: 700px) {
  .container-quote {
    /* flex-grow: 1; */
    margin-top: 30%;
  }

  .classe,
  .articolo {
    display: flex;
    flex-direction: row;
    gap: 1em;
    max-width: 850px;
  }

  .classi h3,
  .articoli h3 {
    padding-top: 0;
  }

  .classi-separator {
    max-width: 400px;
  }

  .lotus-separator {
    width: 80px;
    margin: 1.5em;
  }
  /* .classe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }*/

  .classi h2,
  .articoli h2 {
    font-size: 2rem;
    margin-top: 1em;
  }
}

@media (min-width: 1000px) {
  .home {
    background-position: bottom right;
  }
  .primo-piano-event {
    width: 30%;
  }
}
